.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xls
research/*
data/*
#keep these files for back-testing using underlying INDEX data
!data/INDEX-backtest-daily-log-returns-per-ticker.csv
!data/INDEX-backtest-benchmark-simple-returns.csv
