-e git+https://github.com/dppalomar/riskparity.py.git@17f1d87b9ea612f1ef61122bc7027303302acb21#egg=riskparityportfolio
yfinance==0.1.69
autopep8==1.5
pylint==2.4.4
PyYAML>=5.4
pandas==1.0.3
numpy==1.18.2
plotnine==0.6.0
mizani==0.6.0