-e git+https://github.com/dppalomar/riskparity.py.git@e17a9685bc039cf25b4f59bbd0ec8739abcb577f#egg=riskparityportfolio
alpha-vantage==2.1.2
yfinance==0.1.54
autopep8==1.5
pylint==2.4.4
PyYAML>=5.4
pandas==1.0.3
numpy==1.18.2
plotnine==0.6.0
mizani==0.6.0